In [9]:
import pandas as pd
import numpy as np

In [11]:
dataset = pd.read_csv("insurance.csv")
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [13]:

dataset

      age  sex     bmi  children  smoker  charges
0      19    1  27.900         0       1    16885
1      18    2  33.770         1       2     1726
2      28    2  33.000         3       2     4449
3      33    2  22.705         0       2    21984
4      32    2  28.880         0       2     3867
...   ...  ...     ...       ...     ...      ...
1333   50    2  30.970         3       2    10601
1334   18    1  31.920         0       2     2206
1335   18    1  36.850         0       2     1630
1336   21    1  25.800         0       2     2008
1337   61    1  29.070         0       1    29141

[1338 rows x 6 columns]

In [15]:
ind = dataset[['age','sex', 'bmi','children','smoker']]
ind

      age  sex     bmi  children  smoker
0      19    1  27.900         0       1
1      18    2  33.770         1       2
2      28    2  33.000         3       2
3      33    2  22.705         0       2
4      32    2  28.880         0       2
...   ...  ...     ...       ...     ...
1333   50    2  30.970         3       2
1334   18    1  31.920         0       2
1335   18    1  36.850         0       2
1336   21    1  25.800         0       2
1337   61    1  29.070         0       1

[1338 rows x 5 columns]

In [17]:
dep = dataset[['charges']]
dep

      charges
0       16885
1        1726
2        4449
3       21984
4        3867
...       ...
1333    10601
1334     2206
1335     1630
1336     2008
1337    29141

[1338 rows x 1 columns]

In [69]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(ind, dep, test_size=0.80, random_state=0)

In [71]:
from sklearn.linear_model import LinearRegression

In [73]:
regressor = LinearRegression()
regressor = regressor.fit(x_train,y_train)

In [75]:
y_pred=regressor.predict(x_test)

In [77]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test, y_pred)

In [79]:
import pickle
import numpy as np
filename = "Ins_slr.sav"
pickle.dump(regressor,open(filename,'wb'))

In [81]:
print("R2 Score is : ", r_score)
print("Coefficient is : " , regressor.coef_)
print ("intercept : " , regressor.intercept_)

R2 Score is :  0.7514648353236812
Coefficient is :  [[   241.5996043    -345.82065189    424.71503725    372.18170659
  -22963.97125557]]
intercept :  [32412.43288351]

In [71]:
loaded_model=pickle.load(open("mi_dt.sav",'rb'))
input_data = np.array([[ 0, 128, 107, 108, 4.81, 12, 202, 210, 45, 0, 0, 1, 1]])
result = loaded_model.predict(input_data)

print(result)

[1.]

C:\Anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(