In [49]:
import pandas as pd
import numpy as np

In [51]:
dataset = pd.read_csv("insurance.csv")
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [53]:

dataset

      age  sex     bmi  children  smoker  charges
0      19    1  27.900         0       1    16885
1      18    2  33.770         1       2     1726
2      28    2  33.000         3       2     4449
3      33    2  22.705         0       2    21984
4      32    2  28.880         0       2     3867
...   ...  ...     ...       ...     ...      ...
1333   50    2  30.970         3       2    10601
1334   18    1  31.920         0       2     2206
1335   18    1  36.850         0       2     1630
1336   21    1  25.800         0       2     2008
1337   61    1  29.070         0       1    29141

[1338 rows x 6 columns]

In [55]:
ind = dataset[['age','sex', 'bmi','children','smoker']]
ind

      age  sex     bmi  children  smoker
0      19    1  27.900         0       1
1      18    2  33.770         1       2
2      28    2  33.000         3       2
3      33    2  22.705         0       2
4      32    2  28.880         0       2
...   ...  ...     ...       ...     ...
1333   50    2  30.970         3       2
1334   18    1  31.920         0       2
1335   18    1  36.850         0       2
1336   21    1  25.800         0       2
1337   61    1  29.070         0       1

[1338 rows x 5 columns]

In [57]:
dep = dataset[['charges']]
dep

      charges
0       16885
1        1726
2        4449
3       21984
4        3867
...       ...
1333    10601
1334     2206
1335     1630
1336     2008
1337    29141

[1338 rows x 1 columns]

In [59]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(ind, dep, test_size=0.80, random_state=0)

In [65]:
from sklearn.ensemble import AdaBoostRegressor

# AdaBoost with Decision Tree base estimator
regressor = AdaBoostRegressor(
    estimator=DecisionTreeRegressor(max_depth=4),
    n_estimators=100,
    learning_rate=1.0,
    random_state=0
)
regressor.fit(x_train, y_train)

In [67]:

y_pred=regressor.predict(x_test)

In [69]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test, y_pred)

In [73]:
r_score

0.6831519680433674

In [45]:
import pickle
import numpy as np
filename = "Ins_xgboost.sav"
pickle.dump(regressor,open(filename,'wb'))

In [47]:
loaded_model=pickle.load(open("Ins_adaboost.sav",'rb'))
input_data = np.array([['40','1','23.5','3','1']])
result = loaded_model.predict(input_data)

print(result)

[20800.25]

C:\Anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  warnings.warn(